{% extends "Echo_app/base.html" %}
{% load static %}

{% block title %}Perfil do Usuário{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'Echo_app/css/perfil.css' %}?v={% now 'U' %}">
{% endblock %}

{% block content %}
<div class="container-principal-menu">
    <div class="menu-perfil-card">
        
        <h3 class="saudacao">Seja bem-vindo, Usuário!</h3>
        
        <nav class="menu-opcoes">
            <a class="menu-item" href="#">
                <span class="icon"></span> Salvados
            </a>
            <a class="menu-item" href="#">
                <span class="icon"></span> Configurações da conta
            </a>
            <a class="menu-item" href="#">
                <span class="icon"></span> Dispositivos conectados
            </a>
            <a class="menu-item" href="#">
                <span class="icon"></span> Gestão de comunicados
            </a>
        </nav>
        
        <div class="acoes-finais">
            <a class="acao-logout" href="#">
                <span class="icon"></span> Sair da conta
            </a>
            <a class="acao-deletar" href="#">
                <span class="icon"></span> Excluir conta
            </a>
        </div>
        
    </div>
</div>
{% endblock %}